body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

div {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #66bfbf;
}

.bottom {
  background-color: #6bf;
  padding: 20px;
}

.profile {
  background-color: white;
  margin: 0 auto;
}

.Dev {
  text-decoration: underline;
}

.skills {
  padding: 0;
  background-color: white;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.my-img {
  border-radius: 100%;
  width: 25%;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 10%;
}

a {
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.skill-row {
  width: 50%;
  margin: 50px auto;
  text-align: left;
  line-height: 2;
  padding: 20px;
  background-color: white;
}

.img-skills {
  width: 25%;
  border-radius: 100%;
  float: right;
}

.img-code {
  width: 20%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.contact-me {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif, Arial;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.copyright {
  color: #eaf6f6;
  font-size: 1rem;
}
